doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    title Welcome to the new world
  style.
    body {
    background-color: #672d2b;
    }
    .form-bg {
    background-color: azure;
    }
    .header-space {
    margin-top: 10rem;
    }
    .container {
    max-width: 40%;
    }
  body
    .container.header-space
      .message.bg-warning.display-4 #{message}
      .row
        .col
          // Default form sign In
          form.form-bg.text-center.border.border-light.p-5(method="GET" action="/users/login")
            p.h4.mb-4 End of Test
            //- // E-mail
            //- input#defaultRegisterFormEmail.form-control.mb-4(name="email" type="email" placeholder="E-mail")
            //- // Password
            //- input#defaultRegisterFormPassword.form-control(name="password" type="text" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock")
            // Sign in button
            button.btn.btn-info.my-4.btn-block(type="submit") Log Out
          // Default form Sign In
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
